body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: #ccc;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

input {
  display: block;
}

.button-creator {
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: 200px 1fr;
}

#controles {
  width: 180px;
  font-family: sans-serif;
  font-size: 0.875rem;
  background: #eee;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.css {
  font-family: sans-serif;
  color: #333;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: 0.5rem;
}
